//variables couleurs
$color-red:red;
$color-primary:#0e1111;
$color-secondary:#353839;
$color-white:#fff;
$color-white-transparent:rgba(#fff ,.8);

// couleur du text

$color-text:#333;

// buttons

$button-border-radius:.5rem;

// variables fontsize
$font-primary:lato ,sans-serif;
